menu-calcul{
    .background
    {
        background-image: url('../assets/imgs/menu3.jpg');
        background-size: cover;
        margin: 0;
    }
    .scroll-content{
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    ion-card.card{
        margin-top: 150px;
        box-shadow: none;
        background: rgba(0, 0, 0, 0);
        border-radius: 5px;
    }
    .tittle{

    }
    .item{
        margin-bottom: 10px;
        background: rgba(55, 38, 1, 0.727);
        border: medium none;
    
        .text-input,{
            color: #fff;
        }
        input::-moz-placeholder{
            color: #fff!important;
        }
        input::-moz-placeholder{
            color: #fff!important;
        }
        *::-webkit-input-placeholder{
            color: rgba(255, 255, 255, 0.5)!important;
        }
        *:-webkit-input-placeholder{
            color: #fff!important;
        }
        *:-moz-placeholder{
            color: #fff!important;
        }
    }
    .quitter{
        margin-right: 40px;
        float: right;
        height: 210px;
        width: 110px;
    }
}